---
// src/layouts/BaseLayout.astro
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CallToAction from '../components/CallToAction.astro';

// Accept a `cta` object alongside the title
const { title = "Pillar Systems Group", cta = {}, hideCta = false } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WZBSMC311N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WZBSMC311N');
</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="bg-brand-light text-brand-navy font-sans antialiased flex flex-col min-h-screen">
    
    <Header />
    
    <main class="flex-grow">
      <slot /> 
    </main>

    {!hideCta && <CallToAction {...cta} />}
    <Footer/>
  </body>
</html>